@media (max-width:900px) {
    .about-bottom
{
    display: grid;
    grid-template-columns: 1fr;
    padding: 4vw;
}

.work-des
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1vw;
}
}